.container {
  display:grid;
  width: 960px;
  height: 960px;
  margin-top: 20px;
  grid-gap: 0;
}
.frame{
  background-color: white;
  display: inline-grid;
}
.grid{
  /*margin-bottom: -8px;*/
}
.sketch{
  background-color: black;
}
body{
  background-color: red;
}
