.container {
  display:flex;
  /*padding-left: 600px;*/
  justify-content: center;
  padding-top: 100px;
}
.frame{
  padding: 15px;
  background-color: white;
}
.sketch{
  background-color: black;
}
body{
  background-color: red;
}
