.container {
  display:flex;
  justify-content: center;
  padding-top: 100px;
  margin:auto;
  /*width: 650px;
  height: 650px;*/
}
.grid{
  max-width: 650px;
}
.frame{
  max-height: 650px;
  padding: 10px;
  background-color: white;
}
.sketch{
  background-color: black;
}
body{
  background-color: red;
}
